// fonts

$primary-font: 'Open Sans', sans-serif;

// colors

$font-color: rgba($color: #000000, $alpha: .65);
$primary-color: #2f54eb;
$primary-color-hover: #10239e;
$success-color: #52c41a;
$danger-color: #f5222d;
$warn-color: #faad14;
$disable-color: #bfbfbf;